{% load static %}

<html>
	<head>
		<title> UI LIPSY : {{ user.role }} </title>
		
		{% block css %} {% endblock %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		
		<!-- our custom css -->
		<link rel="stylesheet" href="{% static 'app/css/custom.css' %}" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="{% static 'app/js/custom.js' %}" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #ffdb0d;">
			<a class="navbar-brand" href="#"> UI LIPSY </a>
			
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="collapseNavbar">
				<ul class="navbar-nav mr-auto">
					{% if user.role == "Fakultas" %}
						{% block nav-home %} 
							<li class="nav-item" > <a class="nav-link" href="#"> Home </a> </li>
						{% endblock %}
						{% block nav-upload %} 
							<li class="nav-item" > <a class="nav-link" href="#"> Upload </a> </li>
						{% endblock %}
						{% block nav-search %} 
							<li class="nav-item" > <a class="nav-link" href="#"> Cari Dosen </a> </li>
						{% endblock %}
					{% elif user.role == "Direktorat SDM" %}
					
					{% elif user.role == "DGB" %}
					
					{% else %}
					
					{% endif %}
					
				</ul>
				<span class="navbar-text"> Role : {{ user.role }}</span>
			</div>

		</nav>
		
		<div class="container mt-5">
		{% block content %}
		{% endblock %}
		</div>
		
		<footer class="footer fixed-bottom">
			<span class="text-muted p-3"> &copy; 2017 Universitas Indonesia | PPLC3 - Sutopo</span>
		</footer>
	</body>
</html>