{% extends "app/base.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'app/css/fakultas_pantau_aktif.css' %}">
{% endblock %}
{% block content %}
<div class="row" id="title">
  <div class="col-md-3"></div>
  <div class="col-md-6"><h2>DAFTAR CALON YANG DIUSULKAN</h2></div>
  <div class="col-md-3"></div>
</div>

<br><br><br><br>
<div class="row table_title">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Aplikasi Diterima</th>
      </tr>
    </thead>
  </table>
  </div>
  <div class="col-md-1"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Nama</th>
        <th>NIP</th>
        <th>Jabatan</th>
        <th>Jabatan Diusulkan</th>
        <th>Waktu Diterima</th>
      </tr>
    </thead>
    <tbody>
      {% for cyd in cyd_diterima %}
      <tr>
        <td>{{cyd.name}}</td>
        <td>{{cyd.nip}}</td>
        <td>{{cyd.level}}</td>
        <td>{{cyd.dest_level}}</td>
        <td>{{cyd.time}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{error}}
  </div>
  <div class="col-md-2"></div>
</div>

{% endblock %}