{% extends "app/base.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'app/css/fakultas_pantau_aktif.css' %}">
{% endblock %}
{% block content %}
<div class="row" id="title">
  <div class="col-md-3"></div>
  <div class="col-md-6"><h2>DAFTAR CALON YANG DIUSULKAN</h2></div>
  <div class="col-md-3"></div>
</div>

<br><br><br><br>
<div class="row table_title">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Aplikasi Dibatalkan</th>
      </tr>
    </thead>
  </table>
  </div>
  <div class="col-md-1"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Nama</th>
        <th>NIP</th>
        <th>Jabatan</th>
        <th>Jabatan Diusulkan</th>
        <th>Waktu Pembatalan</th>
        <th>Log</th>
      </tr>
    </thead>
    <tbody>
      {% for cyd in cyd_dibatalkan %}
      <tr>
        <td>{{cyd.name}}</td>
        <td>{{cyd.nip}}</td>
        <td>{{cyd.level}}</td>
        <td>{{cyd.dest_level}}</td>
        <td>{{cyd.time}}</td>
        <td class="button"><button data-toggle="modal" data-target="#viewLog{{cyd.id}}">Lihat</button></td>
      </tr>

      <!-- Modal -->
      <div id="viewLog{{cyd.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Log Pengajuan</h4>
            </div>
            {% for log_instance in cyd.log %}
            <div class="modal-body">
                <b>{{log_instance.title}}</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{log_instance.detail}}
                {% for note in log_instance.notes %}
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{note.regulation_question.question}}</b><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{note.record}}<br>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
  {{error}}
  </div>
  <div class="col-md-2"></div>
</div>

{% endblock %}