{% extends "app/base.html" %}

{# this is comment; block nav akan replace block yang di extends #}
{% block nav-upload %}
	<li class="nav-item active"><a class="nav-link" href="#"> Upload </a></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3 col-xs-12">
			<h1 align="center"> Pengajuan Baru </h1>
			<form action="" method="POST" id="form_recc"> {% csrf_token %}
				<div class="form-group">
					<label for="NIP">NIP</label>
					<input type="text" class="form-control" id="NIP" name="NIP">
				</div>
				<div class="form-group">
					<label for="file">Berkas</label>
					<input type="file" class="form-control-file" id="file" aria-describedby="fileHelp" name="file" accept=".zip">
					<small id="fileHelp" class="form-text text-muted">Harap masukkan berkas dalam format .zip</small>
				</div>
				<fieldset class="form-group" id="recc_type">
					<legend>Tipe Usulan Kenaikan Jabatan</legend>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="recc_type" value="1">
							<span> Kenaikan Reguler </span>
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="recc_type" value="2">
							<span> Kenaikan Loncat </span>
						</label>
					</div>
				</fieldset>
			</form>
			<div class="col-xs-12 text-center">
				<button id="submitBtn" class="btn btn-default" data-toggle="modal" data-target="#confirm-submit">Submit</button>
			</div>
		</div>
		
		<div class="modal fade" id="confirm-submit" tabindex="-1" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="mx-auto">
							<h3> Konfirmasi <h3>
						</div>
					</div>
					<div class="modal-body">
						<div class="p-3" >
							Apakah Anda yakin ingin mengusulkan staf dengan detail berikut?
						</div>
						<!-- We display the details entered by the user here -->
						<table class="table mt-3">
							<tr>
								<th>NIP</th>
								<td id="detail_nip"></td>
							</tr>
							<tr>
								<th>Tipe Usulan</th>
								<td id="detail_recc_type"></td>
							</tr>
						</table>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
					<a href="#" id="submit" class="btn btn-primary ">Ya</a>
				</div>
			</div>
		</div>
	</div>
	<script>
	$('#submitBtn').click(function() {
		 /* when the button in the form, display the entered values in the modal */
		 $('#detail_nip').text($('#NIP').val());
		 $('#detail_recc_type').text($('input[name="recc_type"]:checked').parent().find('span').html());
	});
	$('#submit').click(function(){
		 /* when the submit button in the modal is clicked, submit the form */
		$('#form_recc').submit();
	});
	</script>
{% endblock %}